[submodule "torch"]
	path = torch
	url = https://github.com/andresy/torch.git
[submodule "demos"]
	path = demos
	url = https://github.com/clementfarabet/torch7-demos
[submodule "neuflow"]
	path = neuflow
	url = https://github.com/clementfarabet/neuflow.git
[submodule "optim"]
	path = optim
	url = https://github.com/koraykv/optim
[submodule "opencv"]
	path = opencv
	url = https://github.com/marcoscoffier/lua---opencv.git
[submodule "lushmat"]
	path = lushmat
	url = https://github.com/clementfarabet/lua---lushmat.git
[submodule "opengm"]
	path = opengm
	url = https://github.com/clementfarabet/lua---opengm.git
[submodule "parallel"]
	path = parallel
	url = https://github.com/clementfarabet/lua---parallel.git
[submodule "sys"]
	path = sys
	url = https://github.com/clementfarabet/lua---sys.git
[submodule "xlua"]
	path = xlua
	url = https://github.com/clementfarabet/lua---xlua.git
[submodule "nnx"]
	path = nnx
	url = https://github.com/clementfarabet/lua---nnx.git
[submodule "mattorch"]
	path = mattorch
	url = https://github.com/clementfarabet/lua---mattorch.git
[submodule "inline"]
	path = inline
	url = https://github.com/clementfarabet/lua---inline-C.git
[submodule "image"]
	path = image
	url = https://github.com/clementfarabet/lua---image.git
[submodule "imgraph"]
	path = imgraph
	url = https://github.com/clementfarabet/lua---imgraph.git
[submodule "camera"]
	path = camera
	url = https://github.com/clementfarabet/lua---camera.git
[submodule "ffmpeg"]
	path = ffmpeg
	url = https://github.com/clementfarabet/lua---ffmpeg.git
[submodule "unsup"]
	path = unsup
	url = https://github.com/koraykv/unsup.git
[submodule "vowpal_wabbit"]
	path = vowpal_wabbit
	url = https://github.com/clementfarabet/vowpal_wabbit.git
[submodule "gm"]
	path = gm
	url = https://github.com/clementfarabet/lua---gm
[submodule "fex"]
	path = fex
	url = https://github.com/koraykv/fex
[submodule "debugger"]
	path = debugger
	url = https://github.com/clementfarabet/lua---debugger.git
[submodule "nng"]
	path = nng
	url = https://github.com/clementfarabet/lua---nng
[submodule "csv"]
	path = csv
	url = https://github.com/clementfarabet/lua---nng
[submodule "json"]
	path = json
	url = https://github.com/clementfarabet/lua---nng
[submodule "liuflow"]
	path = liuflow
	url = https://github.com/clementfarabet/lua---nng
[submodule "videograph"]
	path = videograph
	url = https://github.com/clementfarabet/lua---nng
