[submodule "lua4torch"]
	path = lua4torch
	url = https://github.com/clementfarabet/lua4torch.git
[submodule "torch"]
	path = torch
	url = https://github.com/andresy/torch.git
[submodule "demos"]
	path = demos
	url = https://github.com/clementfarabet/torch7-demos
[submodule "neuflow"]
	path = neuflow
	url = https://github.com/clementfarabet/neuflow.git
[submodule "optim"]
	path = optim
	url = https://github.com/koraykv/optim
